* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --colorlight:#f5bcbc;
    --colormedium1:#e08686;
    --colormedium2:#d8757a;
    --colordark:#772125;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.invisible-scroll::-webkit-scrollbar{
    display: none;
}

body{
    
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;
    cursor: crosshair;

    font-family: 'Fira Code', monospace;
}

@media only screen and (max-width:800px){

}

h1 {
    color:var(--colorlight);
    font-size: 3em;
    margin: 30px 0;
    text-align: center;

}

h2{
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
    margin-bottom: 20px;

}

h3{
    text-align: center;
    font-size: 2em;
    margin: 10px 0;
    padding-top: 50px;
    text-decoration:underline;
    text-underline-offset: 10px;

}

h4{
    font-size: 1.5em;
}

h5{
    font-size: 1em;
}

.header{
    background-color:#000000;
    border:5px outset rgb(240, 163, 163);
    width:100%;
    min-height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.aboutme{
    background-color:rgb(0, 0, 0);
    color:var(--colormedium1);
    min-height: 550px;
    display:flex;
    align-items: center;
    padding-top: 150px;
    flex-direction: column;
}

.aboutme p{
    color:var(--colormedium1);
    text-align: center;
}

.projectsheader{
    background-color:#ffffff;
    width:100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 

}


#outercontainer {
    max-width: 100%;
    width:90%;
    height:auto;
    padding-top: 50px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;

    display:grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 20px;
    grid-row-gap: 100px;
}

.box{
    border:5px outset rgb(0, 0, 0);
    width: 450px;
    min-height: 150px;
    padding-top: 20px;
    color: rgb(0, 0, 0);
    flex-direction: column;
    text-align: center;
    /*layout is to organize the inside of the box with descriptions*/
}

.projectsbtn{
    position:absolute;
    flex-direction: column;
    justify-content: center;
}

.projectpop{
    padding: 10px 60px;
    position: absolute;
    translate: translate(-50%,-50%);
    text-align: center;
    outline: none;
    border-radius: 10px;

}

.photography{
    text-align: center;
    height: 600px;   
}

.skills{
    text-align: center;
    height: 500px;
    justify-content: center;

    display:grid;
    grid-template-columns: auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
}

.contact{
    border-top: 3px outset black;
    height: auto;
    justify-content: space-between;
    flex-direction: row;
}